<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Persona</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Actualizar Persona</h1>
    <hr>
    <h2>Actualizar Persona</h2>

    <form action="#" th:action="@{/index/guardarPersona}" th:object="${persona}" method="POST">
        <input type="hidden" th:field="*{idPersona}">
        <input type="text" th:field="*{nombre}" placeholder="Nombre" class="form-control mb-3 col-4">
        <input type="text" th:field="*{paterno}" placeholder="Apellido Paterno" class="form-control mb-3 col-4">
        <input type="text" th:field="*{materno}" placeholder="Apellido Materno" class="form-control mb-3 col-4">
        <input type="text" th:field="*{genero}" placeholder="Género" class="form-control mb-3 col-4">
        <input type="text" th:field="*{correo}" placeholder="Correo" class="form-control mb-3 col-4">
        <button type="submit" class="btn btn-info col-2">Actualizar Persona</button>
    </form>
    <hr>
    <a th:href="@{/index/}">Regresar a la lista de personas</a>
</div>
</body>
</html>