<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>CRUD de Persona</title>
</head>
<body>

<div class="container my-2">
    <h1>Lista de Personas</h1>
    <hr>
    <br>
    <a th:href="@{/index/nuevaPersona}" class="btn btn-primary btn-block mb-3">Agregar persona</a>
    <table class="table table-dark table-striped table-responsive-md">
        <thead class="thead-dark">
        <tr>
            <th>Nombre</th>
            <th>A. Paterno</th>
            <th>A. Materno</th>
            <th>Género</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="persona : ${listaPersonas}">
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.paterno}"></td>
            <td th:text="${persona.materno}"></td>
            <td th:text="${persona.genero}"></td>
            <td th:text="${persona.correo}"></td>
            <td><a th:href="@{/index/actualizarPersona/{id} (id = ${persona.idPersona})}" class="btn btn-info">Actualizar</a>
                <a th:href="@{/index/borrarPersona/{id} (id = ${persona.idPersona})}" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>